<!DOCTYPE html>

<html lang="pl"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<main class="main-content" layout:fragment="content">


<section class="stats">
    <div class="container container--85">
        <div class="stats--item">
            <em th:text="${sumQuantity}"></em>

            <h3>Oddanych worków</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum
                tempora!</p>
        </div>

        <div class="stats--item">
            <em th:text="${sumDonation}"></em>
            <h3>Przekazanych darów</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas
                quam.</p>
        </div>

    </div>
</section>

<section class="steps">
    <h2>Wystarczą 4 proste kroki</h2>

    <div class="steps--container">
        <div class="steps--item">
            <span class="icon icon--hands"></span>
            <h3>Wybierz rzeczy</h3>
            <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--arrow"></span>
            <h3>Spakuj je</h3>
            <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--glasses"></span>
            <h3>Zdecyduj komu chcesz pomóc</h3>
            <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
            <span class="icon icon--courier"></span>
            <h3>Zamów kuriera</h3>
            <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
    </div>

    <a href="#" class="btn btn--large">Załóż konto</a>
</section>

<section class="about-us">
    <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero
            optio esse quisquam illo omnis.</p>
        <img th:src="@{img/signature.svg}"/>" class="about-us--text-signature" alt="Signature"/>
    </div>
    <div class="about-us--image"><img th:src="@{img/about-us.jpg}"/>" alt="People in circle"/>
    </div>
</section>

<section class="help">
    <h2>Komu pomagamy?</h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy.
            Możesz sprawdzić czym się zajmują.</p>

        <ul class="help--slides-items">
            <li>
                <div class="col">
                    <div class="title">Fundacja "<span th:text="${#objects.nullSafe(listInstitution[0].getName(), '')}"></span>"</div>
                    <div class="subtitle">Cel i misja: <span th:text="${#objects.nullSafe(listInstitution[0].getDescription(), '')}"></span></div>
                </div>
                <div class="col">
                    <div class="title">Fundacja "<span th:text="${#objects.nullSafe(listInstitution[1].getName(), '')}"></span>"</div>
                    <div class="subtitle">Cel i misja: <span th:text="${#objects.nullSafe(listInstitution[1].getDescription(), '')}"></span></div>
                </div>
            </li>
            <li>
                <div class="col">
                    <div class="title">Fundacja "<span th:text="${#objects.nullSafe(listInstitution[2].getName(), '')}"></span>"</div>
                    <div class="subtitle">Cel i misja: <span th:text="${#objects.nullSafe(listInstitution[2].getDescription(), '')}"></span></div>
                </div>
                <div class="col">
                    <div class="title">Fundacja "<span th:text="${#objects.nullSafe(listInstitution[3].getName(), '')}"></span>"</div>
                    <div class="subtitle">Cel i misja: <span th:text="${#objects.nullSafe(listInstitution[3].getDescription(), '')}"></span></div>
                </div>
            </li>
        </ul>
    </div>

</section>

</main>


