<!DOCTYPE html>
<html lang="pl" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <header class="header--main-page">
        <nav class="container container--70">
            <ul class="nav--actions">
                <li><a th:href="@{/login}" class="btn btn--small btn--without-border" sec:authorize="!isAuthenticated()">Zaloguj</a></li>
                <li><a th:href="@{/register}" class="btn btn--small btn--highlighted" sec:authorize="!isAuthenticated()">Załóż konto</a></li>
                <li><a th:href="@{/logout}" class="btn btn--small btn--without-border" sec:authorize="isAuthenticated()">Wyloguj się</a></li>
                <li><a th:href="@{/admin}" class="btn btn--small btn--without-border" sec:authorize="hasAnyRole('ADMIN')">Administracja</a></li>
            </ul>

            <ul>
                <li><a th:href="@{/}" class="btn btn--without-border active">Start</a></li>
                <li><a th:href="@{/index#steps}" class="btn btn--without-border">O co chodzi?</a></li>
                <li><a th:href="@{/index#about-us}" class="btn btn--without-border">O nas</a></li>
                <li><a th:href="@{/index#help}" class="btn btn--without-border">Fundacje i organizacje</a></li>
                <li><a th:href="@{/form}" class="btn btn--without-border">Przekaż dary</a></li>
                <li><a th:href="@{/index#contact}" class="btn btn--without-border">Kontakt</a></li>
            </ul>
        </nav>

    <main class="main-content" layout:fragment="content">
    </main>

    <footer>
        <div class="contact" id="contact">
            <h2>Skontaktuj się z nami</h2>
            <h3>Formularz kontaktowy</h3>
            <form class="form--contact">
                <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię"/></div>
                <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko"/></div>

                <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

                <button class="btn" type="submit">Wyślij</button>
            </form>
        </div>
        <div class="bottom-line">
            <span class="bottom-line--copy">Copyright &copy; 2022</span>
            <div class="bottom-line--icons">
                <a href="#" class="btn btn--small"><img th:src="@{img/icon-facebook.svg}"/></a>
                <a href="#" class="btn btn--small"><img th:src="@{img/icon-instagram.svg}"/></a>
            </div>
        </div>
    </footer>

    <script th:src="@{js/app.js}"></script>
</body>
</html>